i {
  cursor: pointer;
  color: #fff;
}

.container {
  width: 20%;
}

.fa-retry {
  color: #27A8E0;
}

.fa-status {
  cursor: default;
  color: #fff;
}

.col-middle {
  border-right: 2px dashed #8894A0;
  border-left: 2px dashed #8894A0;
}

.row-top {
  padding-top: 15px;
  padding-bottom: 15px;
}

.row-middle {
  border-top: 2px dashed #8894A0;
  border-bottom: 2px dashed #8894A0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.row-bottom {
  padding-top: 15px;
  padding-bottom: 15px;
}

.row-footer {
  padding-top: 45px;
}
